*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

button,
input {
  font: inherit;
}

:root {
  color-scheme: light dark;
}

body {
  color: light-dark(black, white);
  background: light-dark(white, black);
}

h1 {
  margin-block: 1rem;
}

nav {
  margin-block-end: 1rem;
  ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }
}

form {
  display: none;
}

.active-form {
  display: block;
}

fieldset {
  width: fit-content;
}

.increment-wrapper {
  display: none;
  margin-block-start: 1rem;

  .increment-inner-wrapper {
    width: fit-content;
    outline: 1px solid white;
    padding: 0.25rem;
  }

  label {
    display: inline-block;
    margin-inline-start: 0.5rem;
  }
  p {
    max-width: 40ch;
  }
}
