:root {
  /* bright-peony */
  --clr-font-main: hsl(300, 100%, 25%), hsl(300, 100%, 72%);
  /* lilac */
  --clr-cd-comps: hsl(320, 41%, 25%), hsl(320, 41%, 72%);
  /* turquois */
  --clr-cd-singles: hsl(171, 65%, 25%), hsl(171, 65%, 66%);
  /* ash-grey */
  --clr-cds-main: hsl(159, 31%, 25%), hsl(159, 31%, 78%);
  /* --bright-indigo */
  --clr-records: hsl(244, 86%, 19%), hsl(244, 86%, 67%);
  /* dusty-grape */
  /* --clr-tapes: hsl(245, 21%, 25%), hsl(245, 21%, 55%); */

  /* --dusty-olive: */
  --clr-tapes: hsl(48, 16%, 25%), hsl(48, 16%, 45%);
  /* coolors.co */

  --heading-font: big-party;

  color-scheme: light dark;
}

/* https://www.1001fonts.com/funky-fonts.html?page=3 */
@font-face {
  font-family: big-party;
  src: url("./fonts/bigpartyc2blue.medium.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: chartreuse;
}

body {
  color: light-dark(var(--clr-font-main));
  background: light-dark(rgb(214, 214, 214), black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

button,
input {
  font: inherit;
}

h1,
h2 {
  font-family: var(--heading-font);
  letter-spacing: 2px;
  font-size: 3rem;
}

h1 {
  margin-block: 1rem;
  font-size: 4rem;
}

nav {
  margin-block-end: 1rem;
  ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }
  button {
    background: transparent;
  }
}

form {
  display: none;
}

.active-form {
  display: block;
}

fieldset {
  width: fit-content;
}

.increment-wrapper {
  display: none;
  margin-block-start: 1rem;

  .increment-inner-wrapper {
    width: fit-content;
    outline: 1px solid white;
    padding: 0.25rem;
  }

  label {
    display: inline-block;
    margin-inline-start: 0.5rem;
  }
  p {
    max-width: 40ch;
  }
}

.session-list-wrapper {
  display: none;
}

.cd-comp-color {
  color: light-dark(var(--clr-cd-comps));
  border-color: light-dark(var(--clr-cd-comps));
}

.cd-single-color {
  color: light-dark(var(--clr-cd-singles));
  border-color: light-dark(var(--clr-cd-singles));
}

.cds-main-color {
  color: light-dark(var(--clr-cds-main));
  border-color: light-dark(var(--clr-cds-main));
}

.record-color {
  color: light-dark(var(--clr-records));
  border-color: light-dark(var(--clr-records));
}

.tape-color {
  color: light-dark(var(--clr-tapes));
  border-color: light-dark(var(--clr-tapes));
}
