*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

:root {
  color-scheme: light dark;
}

body {
  color: light-dark(black, white);
  background: light-dark(white, black);
}
