*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

:root {
  color-scheme: light dark;
}

body {
  color: light-dark(black, white);
  background: light-dark(white, black);
}

h1 {
  margin-block: 1rem;
}

nav {
  margin-block-end: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

form {
  display: none;
}

.active-form {
  display: block;
}
